<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bravedroid.ui.notifications">

    <application>
        <activity android:name=".alert.AlertDialogActivity"></activity>
        <activity android:name="com.bravedroid.playground.notifications.CustomToastActivity" />
    </application>

</manifest>
